/* ******** */
/* Overarching */
/* ******** */
/*  */
html:focus-within  {
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", Arial;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}

footer {
  background: white;
}

img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

h6 {
  font-size: 64px;
  font-family: "Lucida Handwriting";
  margin-top: 10px;
  margin-bottom: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.cardEntry h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.cardEntry img {
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 200px;
}

h3 {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
  font-style: italic;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

ul li {
  margin-top: 1em;
  font-size: 18px;
  text-indent: -1em;
  padding-left: 1em;
}

ol li {
  margin-top: 1em;
  font-size: 18px;
  text-indent: -1em;
  padding-left: 1em;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* ******** */
/* NAV BAR */
/* ******** */

header {
  /* background-image: url("/assets/map.webp");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #919191; 
  justify-content: center;
  align-items: center;
  display:flex;
  padding: 20px;
}

header img {
  width: 20vw; 
  height: auto;
  margin-right: 5rem;
}

nav {
  display: flex;
  text-align: center; 
}

nav a {
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
  border-bottom: 5px solid transparent;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #002f3d;
  /* margin-right: 80px; */
}

.dropbtn1 {
  background-color: #919191; 
  text-decoration: none;
  font-size: 28px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
}

.dropbtn2 {
  background-color: #919191; 
  text-decoration: none;
  font-size: 28px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
}

.dropbtn3 {
  background-color: #919191; 
  text-decoration: none;
  font-size: 28px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  left: 50%;
  transform: translatex(-50%);
  margin: 0px;
  border-radius: 25px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 22px;
  margin: 0px;
  border-radius: 25px;
  border: 5px solid transparent;
}

.dropdown-content a:hover {
  border: 5px solid rgb(230, 230, 1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.show {display: block;}

.hidelinks {display: none;}

/* ******* */
/* ARTICLE */
/* ******* */

.container {
  display: flex;
  padding: 20px;
  background-color: #919191;
  background-image: url("/assets/Clouds.webp");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.containerBottom {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-image: url("/assets/Grass.webp");
  background-repeat: no-repeat  ;
  background-size: cover;
}

.containerBottom article {
  max-width: 830px;
  border-style: solid;
  border-color: black;
}

main {
  background-color: #e4d7ba;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
} 

.words {
  text-align: left;
  margin: 0px 30px;
}

aside {
  background-color: #c9c9c9;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  text-align: center;
  margin: 0px 10px 20px;
  padding: 20px;
}

article {
  border-radius: 25px;
  background-color: #ffffff;
  border-style:groove;
  border-color: #ffffff;  
  padding: 5px;
  display: flex;
  margin-bottom: 40px;
}

.cardEntry {
  position: relative;
  margin-bottom: 28px;
  border-style: groove;
  border-color: rgb(230, 230, 230);
  border-radius: 25px;
  text-align: center;
  display: block;
}


.blogArticle {
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  display: flex;
  width: 800px;
}

.dateHeading {
  font-size: 15px;
}

.indent1 {
  text-indent: 2em;
}

.words img {
  width: 100%;
}

.words h1 {
  margin-bottom: 0;
}


/* ******* */
/* TABLE OF CONTENTS */
/* ******* */

.toc {
  position: sticky;
  top: 0px;
  align-self: start;
  display: block;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  background-color: #bebebe;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.toc li.active > a {
  color: rgb(126, 126, 126);
  font-weight: 500;
}

.toc ul li {
  font-size: 16px;
  list-style: none;
  text-indent: 0;
  padding-left: 0;
  margin:0;
}

.toc .heading {
  font-weight: bold;
  text-transform: uppercase;
}

.toc .subheading {
  padding: 4px;
}

.toc .tocHeading {
  padding-left: 16px;
  border-left: 1px, solid, rgb(91, 176, 255);
}


.toc a {
  color: black;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  text-decoration: none;
}

.sidenavbtn{
  display: none;
}

.sidenav{
  display: none;
}