@media (max-width: 600px) {
  /* ******** */
  /* NAV BAR */
  /* ******** */
  header {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  header img {
    width: 50vw;
    flex: 2;
  }

  nav {
    flex: 1;
  }

  nav a {
    padding: 0px;
  }

  .dropdown {
    display: none;
  }

  .centerText {
    margin: 0px;
  }

  /* ******* */
  /* ARTICLE */
  /* ******* */

  .container {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  main {
    margin-left: 0px;
  }


  aside {
    width: 95%;
    margin: 20px 0px 0px 0px;
    padding: 5px;
  }

  .signup {
    display: none;
  }

  .containerBottom {
    padding:20px 25px;
  }

  .containerBottom .contactleft {
    width: 95%;
  }

  article {
    display: block;
    width: 95%;
    margin: 0px 0px 30px 0px;
    padding: 5px;
  }

  .description {
    display: none;
  }

  .blogArticle {
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;
    width: 90%;
  }

  .cardEntry img {
    width: 80%;
    height: auto;
  }

  aside h2 {
    font-size: 30px;
  }

  .cardEntry h3 {
    font-size: 20px;
  }

  .dateHeading {
    font-size: 10px;
  }

  .toc {
    display: none;
  }
  .indent1 {
    font-size: 12px;
  }

  ul li {
    text-indent: 0;
    padding-left: 0;
  }


  /* ******* */
  /* SIDENAV */
  /* ******* */

  .sidenavbtn {
    display: block;
    margin-right: 3rem;
  }

  /* The side navigation menu */
  .sidenav {
    display: block;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #c5c5c5;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.3 second transition effect to slide in the sidenav */
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    font-size: 42px;
    margin-left: 0px;
    z-index: 1;
    background-color: #c5c5c5;
    margin-bottom: 40px;
    border: none;
  }

  .sidenav .dropbtn {
    background-color: #c5c5c5;
    text-decoration: none;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .sidenav .dropdown {
    display: block;
    text-align: center;
    align-items: center;
  }


  /* Links inside the dropdown */
  .sidenav .sub-menu a {
    text-decoration: none;
    font-size: 24px;
  }

  .sidenav .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
  
    > div {
      overflow: hidden;
    }
  }

  .sidenav .sub-menu.show {
    grid-template-rows: 1fr;
  }
  
  .sidenav ul li {
    list-style: none;
  }
  
  .sidenav > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-bottom: 16px;
  }
  

  .blogArticle {
    padding: 10px 0px 10px 0px;
    width: 98%;
  }

  .words {
    margin: 0px 10px;
  }

  .hide {
    display: none;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }
}
