@media (max-width: 600px) {
  /* ******** */
  /* Overarching */
  /* ******** */

  /* img {
    max-width: 100%;
    height: auto;
  } */

  h6 {
    font-size: 36px;
    margin-top: 20px;
  }

  h1 {
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 8px;
  }

  p {
    font-size: 12px;
  }

  ul li {
    font-size: 12px;
    text-indent: 0px;
    padding-left: 0px;
  }

  /* ******** */
  /* NAV BAR */
  /* ******** */

  nav {
    display: none;
  }

  .centerText {
    margin: 0px;
  }

  /* ******* */
  /* ARTICLE */
  /* ******* */

  .container {
    display: block;
    align-items: center;
  }

  main {
    margin-left: 0px;
  }

  .containerBottom main{
    margin-right: 0px;
  }

  aside{
    width: 95%;
    margin: 0px 0px 0px 0px;
    padding: 5px;
  }

  article {
    display: block;
    width: 95%;
    margin: 0px 0px 30px 0px;
    padding: 5px;
  } 

  .words {
    margin: 0px 15px 0px 15px;
  }

  .description {
    display: none;
  }

  .blogArticle {
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;
    width: 87%;
  }

  .cardEntry img {
    width: 80%;
    height: auto;   
  }

  .cardEntry h2 {
    font-size:18px;
  }

  .cardEntry h3 {
    font-size:14px;
  }

  .dateHeading {
    font-size: 10px;
  }

  .toc {
    display: none;
  }
  .indent1 {
    font-size: 12px;
  }

}
